{% assign award = site.data.data.award %}
{% if award %}
<section class="volunteering">
    <h2 class="title">awards</h2>
    {% for vol in award %}
        <div class="volunteering-item">
            <div class="role">
                {{vol.competition }}
            </div>
            <div class="organization">
                {{vol.prize}}
                <span class="time">{{vol.time}}</span>
            </div>
            <div class="details">{{vol.details}}</div>    
        </div>
        
    {% endfor %}
</section>
{% endif %}